.navigation {
    position: relative;
    @include FlexBox (flex, center, space-between);
}

.mobile-menu__button {
    position: absolute;
    top: 10px;
    right: 0;
    
    display: inline-flex;
    background-color: $bcg-color;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    border-color: transparent;

    transition: fill $trans-hover;

    &:hover .mobile-menu__icon, 
    &:focus .mobile-menu__icon {
        fill: $accent-color;
    }

    & .mobile-menu__icon--close {
        display: none;
    }

    &.is-open .mobile-menu__icon--open {
        display: none;
    }

    &.is-open .mobile-menu__icon--close {
        display: block;
    }
}

.mobile-menu__icon {

    fill: $title-color;}

//     &--close {
//         display: none;
//     }
// }

.navigation__list {
    display: none;

    @media screen and (min-width: 1200px) {
        @include FlexBox (flex, center, null);
    }
}

.navigation__item:not(:first-child) {
    margin-left: 50px;
}

.navigation__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    color: $title-color;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;

    transition: color $trans-hover;
    
    &:hover, &:focus {
    color: $accent-color; }   

    &--current {
        color: $accent-color;
    }

    &--current::after {
        content: "";
    
        position: absolute;
        bottom: 0;
        left: 0;
    
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
    }
}





