.contacts {
    @include FlexBox (flex, center, null);
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    @include FlexBox (flex);

    padding-top: 32px;
    padding-bottom: 32px;
    
    color: $main-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;

    transition: color $trans-hover;

    &:hover, 
    &:focus {
    color: $accent-color;
}
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}