.contacts {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        @include FlexBox (flex, center, null);
        flex-wrap: wrap;
        margin-left: 84px;
    }

    @media screen and (min-width: 1200px) {
        @include FlexBox (flex);
        margin-left: 280px;
    }
}

.contacts__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-top: 32px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 50px;
    }
}

.contacts__link {
    color: $main-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    text-align: left;
    letter-spacing: 0.02em;

    transition: color $trans-hover;

    &--mobile {
        color: $accent-color;
        font-size: 34px;
    }

    &:hover, 
    &:focus {
    color: $accent-color;
}

@media screen and (min-width: 768px) {
    @include FlexBox (flex);

    color: $main-text-color;
    font-size: 12px;
}

@media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: $main-font-size;
    line-height: 1.14;
}
}

.contacts-icon {
    @media screen and (max-width: 767px) {
        display: none;
    }

    margin-right: 10px;
    fill: currentColor;

    @media screen and (max-width: 1199px) {
        &--emil {
            width: 14px;
            height: 10px;
        }
        &--tel {
            width: 10px;
            height: 14px;
        }
    }
}

.page-header__social-list {
    @include FlexBox (flex, space-between, null);
    margin-top: 64px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.page-header__social-item {
    &:not(:last-child) {
        margin-right: 20px;
    }

    &::after {
        content: "";
        width: 22px;
        color: rgba(33, 33, 33, 0.2);
        border: 1px;
        transform: rotate(90deg);
    }
}

.page-header__social-link {
    text-decoration: none;
    color: $accent-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;
    letter-spacing: $let-spacing;
}