.portfolio-card {
    @include FlexBox (flex);
    flex-wrap: wrap;
}

.portfolio-card__item {
    width: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    box-shadow: none;

    transition: box-shadow $trans-hover;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    & :hover,
    & :focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}


.portfolio-card__link {
    text-decoration: none;
}

    /* #region Оверлей на карточки Портфоліо*/

.portfolio-card__thumb {
    position: relative;
    overflow: hidden;

    &--overlay {
        position: absolute;
        width: 100%;
        height: 100%;
    
        background-color: rgba(33, 150, 243, 0.9);
        
        transform: translateY(100%);
        opacity: 0;
        transition: transform $trans-hover,
        opacity $trans-hover;
    }

    .portfolio-card__item:hover &--overlay,
    .portfolio-card__item:focus &--overlay {
    opacity: 1;
    transform: translateY(0);
}
}


.portfolio-card__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 322px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: $let-spacing;
    color: $bcg-color;
}
   /*#endregion*/


.portfolio-card__box {
    padding: 20px 24px;
}

.portfolio-card__subtitle {
    margin-bottom: 4px;

    color: $title-color;
    font-size: 18px;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.06em;

    transition: color $trans-hover;

    &:hover, &:focus {
    color: $accent-color;
}
}

.portfolio-card__text {
    color: $main-text-color;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    letter-spacing: $let-spacing;
}

