.section-team {
    background-color: #F5F4FA;
    padding: 94px 0;
}

.section-team__list {
    @include FlexBox (flex, center, null);
    flex-wrap: wrap;
}

.section-team__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.section-team__box {
    padding-bottom: 30px;
    border: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background-color: $bcg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team__img {
    margin-bottom: 30px;
}

.section-team__subtitle {
    margin: 0 auto;
    margin-bottom: 10px;

    color: $title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: $let-spacing;
}

.section-team__position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: $let-spacing;
}

