.section-team {
    background-color: #F5F4FA;
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.section-team__list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    
        @include FlexBox (flex, center, null);
        flex-wrap: wrap;
    }
}

.section-team__item:not(:last-child) {
    @media screen and (max-width: 767px) {
           margin-bottom: 30px;
   }
}


.section-team__item {
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:nth-child(2n + 1) {
            margin-right: 30px;
        }
        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }

        width: calc((100% - 30px) / 2);
    }  
}

// .section-team__item {
//     margin-right: 30px;

//     &:last-child {
//         margin-right: 0;
//     }
// }

.section-team__box {
    padding-bottom: 24px;
    background-color: $bcg-color;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);

    border: 1px;
    border-radius: 0px 0px 4px 4px;

//     padding-bottom: 30px;
}

.section-team__img {
    margin-bottom: 30px;
}

.section-team__subtitle {
    margin: 0 auto;
    margin-bottom: 10px;

    color: $title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: $let-spacing;
}

.section-team__position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: $let-spacing;
}

