.button {
    @include FlexBox (inline-flex);

    width: 200px;
    height: 50px;
    padding: 0;
    border-radius: 4px;
    border: 1px solid transparent;

    color: $bcg-color;
    background-color: $accent-color;
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transform: scale(1);
    transition: transform $trans-hover, box-shadow $trans-hover;
    border: $trans-hover;

    &:hover,
    &:focus {
    transform: scale(1.10);
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}
