.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    width: 145px;

    text-decoration: none;
    color: $accent-color;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    letter-spacing: $let-spacing;
}

.page-header__logo--black {
    color: #000000;
}

.page-header__logo {
    animation: logoA 1500ms ease-in-out infinite normal;
}

.page-footer__logo {
    padding: 0;
    margin-right: 0;
    margin-bottom: 20px;
    
    &--white {
        color: $bcg-color;
    }
}
