.title {
    margin: 0 auto;
    margin-bottom: 30px;

    color: $title-color;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: $let-spacing;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}
