$accent-color: #2196F3;
$title-color: #212121;
$bcg-color: #FFFFFF;
$main-text-color: #757575;
$fon-color-hero: #C4C4C4;
$icon-color: #AFB1B8;

$main-font-size: 14px;
$let-spacing: 0.03em;
$trans-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);